[submodule "themes/docsy"]
	path = src/themes/docsy
	url = https://github.com/google/docsy.git
[submodule "public"]
	path = public
	url = https://github.com/openrca/openrca.github.io.git
	branch = master
