+++
title = "Open RCA"
linkTitle = "Open RCA"
+++

{{< blocks/cover title="Open RCA: Root Cause Analysis for Kubernetes" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/openrca/orca">
		View on Github <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Our vision" url="https://github.com/openrca/orca" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/openrca/orca" %}}
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/openrca" %}}
{{% /blocks/feature %}}
{{< /blocks/section >}}
