+++
title = "Open RCA"
linkTitle = "Open RCA"
+++

{{< blocks/cover title="OpenRCA: Root Cause Analysis for Kubernetes" image_anchor="top" height="full" color="dark" >}}
<div class="mx-auto">
  <p class="lead">
    Real-time cluster topology visualization. Telemetry hub. Automated root cause inference.
  </p>
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
  <a class="btn btn-lg btn-primary mr-3 mb-4" href="https://github.com/openrca/orca">
    View on Github <i class="fab fa-github ml-2 "></i>
  </a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
<h2>What is OpenRCA?</h2>
<p class="lead">
  OpenRCA attempts to facilitate root cause inference of issues emerging in Kubernetes clusters. By constructing a real-time cluster topology graph enriched with telemetry data obtained from integrated telemetry sources (Prometheus, Elasticsearch, Falco, Istio, and others), provides operators with a powerful analytical toolkit for dealing with daily application failures, bottlenecks, and misconfigurations. Moreover, it comes with algorithms that leverage the collected graph data to pinpoint sources of extensive cluster incidents.
</p>
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Read the full vision" %}}
Comming soon!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/openrca/orca" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" %}}
Comming soon!
{{% /blocks/feature %}}
{{< /blocks/section >}}
